body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rowdies', cursive;
    height: 100vh;
    margin: auto;
}

main {
    display: flex;
    background: hsl(212, 45%, 89%);
    height: 35em;
    width:  70em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 20px 8px rgba(128, 128, 128, 25%);
}

.qr-code-box {
    display: flex;
    flex-direction: column;
    padding: 13px;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgba(128, 128, 128, 25%);
    width: 13em;
    height: 21em;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: hsl(218, 44%, 22%);
}

footer {
    color: rgb(128, 128, 128);
    font-size: 13px;
}
